 *{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.navimg{
    height: 100px;
    border-radius: 50%;
    filter: brightness(95%);
}
.navimg:hover{
      filter: brightness(100%);
}
 .navbar{
    display: flex;
    justify-content: center;
} 
.list, a,.navimg{font-size: 22px;
    text-decoration: none;
    color: black;
    backdrop-filter: blur(20px);
    background: lightblue,white;
    font-family: Sans-Serif;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 12px 0px;
}
.color-list{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 13px;
    padding: 5px 2px 5px;
}
.color-list:hover{
    border: 3px solid black;
}
.drop{
    display: none;
    color: rgb(255, 255, 255);
    padding: 8px 12px;
    text-decoration: none;
    font-size: 12px;
  } 
  .sub-sec{
   background: linear-gradient(#E0EAFC,#CFDEF3);
    display: flex;
    align-items: center;
    justify-content: center;
height: 85vh;
  text-align: center;
  }
  h1,h4,h5{font-family: sans-serif ;
    padding: 30px 185px 30px;
  }
  h1{
    font-size: 39px;
  }
  h1::after{
    content: 'Experiance';
    background-color  : rgba(243, 208, 11, 0.856);
    text-decoration: underline;
  }
  h4{
    font-size: 29px;
  }
  h5{
    font-size: 25px;
  }
  #ab{border-radius: 10px;
    margin-right: 2rem;
  }
  #ab:hover{box-shadow: 10px 10px 20px #000000,-10px -10px 20px #dbc6c6;
       transition: 1s;

  }
  #click{background-color: rgb(10, 158, 10);
    font-size: 20px;
    font-family: sans-serif ;
    font-weight: bold;
    border: none;
    padding: 12px 5rem 12px;
    cursor: pointer;
  }
  #click:hover{
    box-shadow:  2px 2px 2px 2px  rgb(0, 0, 0);
    transition: 1s;
  }
  .section-1{ font-family:serif;
    margin-top: 5rem;
  }
  .section-1-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 205, 210);
    border-radius: 7px;
    margin: 2rem;
  }
  .ornaments-txt{
    padding: 0px 55px 0px;
    font-size: 25px;
  }
  .section-2-imgs{background-color: rgb(235, 236, 179);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 2rem;
  }
  .cloths-txt{
    padding: 0px 55px 0px;
    font-size: 25px;
  }
  
  .section-3-imgs{border-radius: 7px;
    background-color: rgb(220, 221, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 2rem;
   
  }
  .sports-txt{
    padding: 0px 55px 0px;
    font-size: 25px;
  }
  #play{
    border-radius: 8px;
  }
  .contro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .contro > .creators > img{
    border-radius: 50%;
  }
  .h4-txt{
    text-align: center;
  }
 .creators-txt{
  text-align: center;
  font-size: 20px;
 }

  /* .teams{
    text-align: center;
    font-size: 30px;
    background:linear-gradient(#e0dbdb,#eef2f3) ;
    border: 1px solid black;
    padding: 25px 0px 25px;
  }
  .creators{margin-top: 5rem;
    margin-left: 0rem;
    font-family:serif;
    text-shadow: 2px 2px 2px 2px black;
  } */
    