* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
html{background-color: #e3edf7;
  scroll-behavior: smooth;
} .parent,.nav{
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 20px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px 0px;
  z-index: 111;
}
.logo{height: 80px;
  border-radius: 50%;

}
.parent{
  backdrop-filter: blur(40px);
  padding: 0px 20px 0px;
  border-radius: 15px;
  background: whitesmoke,red,blue,yellow,gray;
}

.middle-ct{font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

}
.hidden{
  display: none;
  width: auto;
}
.show:hover ul{
  display: block;
  width: fit-content;
  position: absolute;
  top: 70px;
  left: 312px;
  text-decoration: none;
  list-style: none;
  padding: 0px 25px 0px;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  background: linear-gradient(grey,white);
}
.hidden li a:active{
  background-color: rgb(171, 171, 192);
}
.nav:hover{
  background-color: gray;
  border-radius: 10px;
  transition: 0s;
}
li .nav{
  text-align: center;
  padding: 12px;
}


.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
.offer-card {
  background: #ffffff;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
.offer-card:hover{
  box-shadow: 10px 10px 20px #000000, -10px -10px 20px #dbc6c6;
  transition: 0.8s;
}
.offer-details {
  flex-grow: 1;
  padding: 5px;
}
img{
  border-radius: 5px;
}

.offer-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.offer-description {
  font-size: 14px;
  color: #777;
}

.btn {
  display: inline-block;
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
